<section class="testimonials">
  <div class="section-header">
    <p class="section-header__subtitle">Testimonials</p>
    <h2 class="section-header__title">What people say about Us.</h2>
  </div>

  <div class="testimonial">
    <div class="testimonial__comment">
      <p class="testimonial__text">
        “On the Windows talking painted pasture yet its express parties use. Sure last upon he same
        as knew next. Of believed or diverted no.”
      </p>
      <p class="testimonial__author">Mike taylor</p>
      <p class="testimonial__city">Lahore, Pakistan</p>
    </div>
  </div>
</section>
