@use 'mixins' as *;
@use 'variables' as *;

.testimonials {
  @include container(1200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-header {
  display: flex;
  flex-direction: column;
  &__subtitle {
    @include section-subtitle;
  }
  &__title {
    @include heading($fs-h2, 700, $color-black);
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 540px;

  &__comment {
    border-radius: 0.63rem;
    width: 31.5rem;
    height: 15.31rem;
    gap: 34px;
    max-width: 504px;
  }

  &__text {
    @include text-body($fs-body, 500, $color-text);
  }

  &__author {
    @include text-body($fs-body, 600, $color-text);
  }

  &__city {
    @include text-body(0.88rem, 500, $color-text);
  }
}
