<section class="testimonials container">
  <div class="section-header">
    <p class="section-header__subtitle">Testimonials</p>
    <h2 class="section-header__title">What people say about Us.</h2>
  </div>

  <div class="content">
    <div class="content__commment">
      <p class="content__text">
        “On the Windows talking painted pasture yet its express parties use. Sure last upon he same
        as knew next. Of believed or diverted no.”
      </p>
      <p class="content__author">Mike taylor</p>
      <p class="content__city">Lahore, Pakistan</p>
    </div>
  </div>
</section>
