<section class="testimonials">
  <app-section-header subtitle="Testimonials" title="What people say about Us." />

  <div class="testimonial">
    <div class="testimonial__comment">
      <p class="testimonial__text">
        “On the Windows talking painted pasture yet its express parties use. Sure last upon he same
        as knew next. Of believed or diverted no.”
      </p>
      <p class="testimonial__author">Mike taylor</p>
      <p class="testimonial__city">Lahore, Pakistan</p>
    </div>
  </div>
</section>
