<header class="header">
  <div class="header__container">
    <img src="assets/images/Logo.svg" alt="Logo" />
    <nav class="header__nav">
      <a class="header__link" href="#destinations">Destinations</a>
      <a class="header__link" href="#services">Hotels</a>
      <a class="header__link" href="#booking">Flights</a>
      <a class="header__link" href="#booking">Bookings</a>
    </nav>
    <nav class="header__actions">
      <a class="header__link" href="#subscribe">Login</a>
      <a class="header__link" href="#subscribe">Sign up</a>
      <button class="header__link" type="button">EN</button>
    </nav>
  </div>
</header>
