<header class="header">
  <div class="header__container">
    <img src="assets/images/Logo.svg" alt="Logo" />
    <nav class="header__nav">
      <button class="header__btn" type="button">Destinations</button>
      <button class="header__btn" type="button">Hotels</button>
      <button class="header__btn" type="button">Flights</button>
      <button class="header__btn" type="button">Bookings</button>
    </nav>
    <nav class="header__actions">
      <button class="header__btn" type="button">Login</button>
      <button class="header__btn" type="button">Sign up</button>
      <button class="header__btn" type="button">EN</button>
    </nav>
  </div>
</header>
