@use 'mixins' as *;

.header {
  width: 100%;
  padding-bottom: $space-5;

  &__container {
    @include container(1200px);
    @include flex-between;
    gap: $space-10;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: $space-12;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: $space-12;
    margin: 0 88px 0 222px;
  }

  &__btn {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: normal;
    letter-spacing: 0;
  }
}
