// @use '/src/app/app.scss' as mixin;

.container {
  max-width: 1200px;
  margin: 0 auto;
  // ToDo сделать миксин
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 97px;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin: 0 0 24px 0;
    color: #df6951;
    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      sans-serif;
    font-weight: 700; /* Bold */
    font-size: 20px;
    line-height: normal; /* Auto в Figma */
    letter-spacing: 0; /* 0% */
  }

  &__title {
    margin: 0 0 30px 0;
    font-family: 'Volkhov', Georgia, serif;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181e4b;
  }

  &__description {
    margin: 0 0 34px 0;
    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #5e6282;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 44px;
  }
}

.btn-primary {
  padding: 19px 26px 18px 27px;
  color: white;
  border-radius: 30px;
  border: none;
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
  background: #f1a501;
  &:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}

.btn-play {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px 12px 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 30px;

  &:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}

.btn__text {
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  color: #686d77;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ff4d4d;
  flex-shrink: 0;
  border-radius: 100%;
  fill: #df6951;
  box-shadow: 0 15px 30px 0 rgba(223, 105, 81, 0.3);
}
