@use 'mixins' as *;
@use 'variables' as *;

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 97px;
  @include container(1200px);

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin-bottom: 24px;
    @include text-body($fs-h3, 700, $color-primary);
  }

  &__title {
    margin-bottom: 30px;
    @include hero-title;
  }

  &__description {
    margin: 0 0 34px 0;
    @include text-body(1.25rem, 500);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 44px;
  }
}

.btn {
  border-radius: 30px;
  border: none;

  &:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }

  &--primary {
    @include text-body($fs-h3, 500, $color-white);
    padding: 19px 26px 18px 27px;
    box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
    background: $color-secondary;
  }

  &--play {
    @include flex-center;
    gap: 12px;
    padding: 12px 24px 12px 12px;
    background-color: $color-white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__text {
    @include text-body($fs-h3, 500, $color-btn-text);
  }

  &__icon {
    @include flex-center;
    width: 40px;
    height: 40px;
    background-color: $color-play-icon;
    flex-shrink: 0;
    border-radius: 100%;
    fill: $color-primary;
    box-shadow: 0 15px 30px 0 rgba(223, 105, 81, 0.3);
  }
}
