<section class="destinations">
  <div class="section-header">
    <p class="section-header__subtitle">Top Selling</p>
    <h2 class="section-header__title">Top Destinations</h2>
  </div>

  <div class="destinations__flex">
    @for (item of destination; track item.id) {
      <div class="destination-card" [class]="'destination-card--' + item.imageModifier">
        <div class="destination-card__desc">
          <p class="destination-card__text">{{ item.title }}</p>
          <p class="destination-card__text">{{ item.price }}</p>
          <div class="destination-card__trip">
            <app-icon name="navigation" />
            <span class="destination-card__text">{{ item.days }} Days Trip</span>
          </div>
        </div>
      </div>
    }
  </div>
</section>
