<section class="destinations">
  <app-section-header align="center" subtitle="Top Selling" title="Top Destinations" />

  <div class="destinations__flex">
    @for (item of destinations; track item.id) {
      <div class="destination-card" [class]="'destination-card--' + item.imageModifier">
        <div class="destination-card__desc">
          <p class="destination-card__text">{{ item.title }}</p>
          <p class="destination-card__text">{{ item.price }}</p>
          <div class="destination-card__trip">
            <app-icon name="navigation" />
            <span class="destination-card__text">{{ item.days }} Days Trip</span>
          </div>
        </div>
      </div>
    }
  </div>
</section>
