<section class="destinations">
  <div class="section-header">
    <p class="section-header__subtitle">Top Selling</p>
    <h2 class="section-header__title">Top Destinations</h2>
  </div>

  <div class="destinations__flex">
    <div class="destination-card destination-card--rome">
      <div class="destination-card__desc">
        <p class="destination-card__text">Rome, Italy</p>
        <p class="destination-card__text">$5.42k</p>
        <div class="destination-card__trip">
          <app-icon name="navigation" />
          <span class="destination-card__text">10 Days Trip</span>
        </div>
      </div>
    </div>
    <div class="destination-card destination-card--london">
      <div class="destination-card__desc">
        <p class="destination-card__text">London, UK</p>
        <p class="destination-card__text">$4.2k</p>
        <div class="destination-card__trip">
          <app-icon name="navigation" />
          <span class="destination-card__text">12 Days Trip</span>
        </div>
      </div>
    </div>
    <div class="destination-card destination-card--europe">
      <div class="destination-card__desc">
        <p class="destination-card__text">Full Europe</p>
        <p class="destination-card__text">$15k</p>
        <div class="destination-card__trip">
          <app-icon name="navigation" />
          <span class="destination-card__text">28 Days Trip</span>
        </div>
      </div>
    </div>
  </div>
</section>
