@use 'mixins' as *;
@use 'variables' as *;

.booking {
  @include container(1200px);
  @include flex-center;
  flex-direction: row;
  gap: 118px;
  margin-bottom: 200px;

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__content {
    max-width: 511px;
  }
}

.section-header__subtitle {
  @include section-subtitle;
}

.section-header__title {
  @include heading($fs-h2, 700, $color-black);
  margin-bottom: 30px;
}

.booking-card {
  position: relative;
  &__container {
    width: 23.13rem;
    height: 25rem;
    box-shadow:
      0 2px 3px 0 rgba(0, 0, 0, 0),
      0 8px 7px 0 rgba(0, 0, 0, 0.01),
      0 20px 13px 0 rgba(0, 0, 0, 0.01),
      0 39px 25px 0 rgba(0, 0, 0, 0.01),
      0 65px 47px 0 rgba(0, 0, 0, 0.02),
      0 100px 80px 0 rgba(0, 0, 0, 0.02);
    background: $color-white;
    border-radius: 1.63rem;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    gap: 25px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  &__title {
    @include text-body(1.13rem, 500, $color-black);
    margin: 0;
  }

  &__text {
    @include text-body($fs-body, 500, $color-text-light);
    margin: 0;
  }

  &__information {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  &__details {
    @include flex-between;
    flex-direction: row;
  }

  &__details-left {
    @include flex-center;
    flex-direction: row;
    gap: 5px;
  }
}

.step {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'icon title'
    'icon text';
  column-gap: 21px;
  &__title {
    grid-area: title;
    margin: 0;
    @include text-body($fs-body, 700, $color-text);
  }
  &__text {
    grid-area: text;
    margin: 0;
    @include text-body($fs-body, 400, $color-text);
  }

  &__icon {
    grid-area: icon;
    padding: 13px;
    border-radius: 0.81rem;
    width: 22px;
    height: 22px;
  }
}

.step__icon--cube {
  background: $color-secondary;
}

.step__icon--orange {
  background: $color-primary;
}

.step__icon--blue {
  background: #006380;
}
