<section class="booking">
  <div class="booking__content">
    <p class="section-header__subtitle">Easy and Fast</p>
    <h2 class="section-header__title">Book your next trip in 3 easy steps</h2>

    <div class="booking__steps">
      @for (item of booking; track item.id) {
        <div class="step">
          <img
            class="step__icon"
            [class]="'step__icon--' + item.color"
            [src]="item.src"
            [alt]="item.alt"
          />
          <p class="step__title">{{ item.title }}</p>
          <p class="step__text">
            {{ item.text }}
          </p>
        </div>
      }
    </div>
  </div>

  <div class="booking-card">
    <img class="booking-card__shadow" src="../assets/images/Group 589.svg" />
    <div class="booking-card__container">
      <img src="../assets/images/book-trip.png" alt="Book a trip" />
      <div class="booking-card__desc">
        <p class="booking-card__title">Trip To Greece</p>
        <div class="booking-card__information">
          <p class="booking-card__text">14-29 June |</p>
          <p class="booking-card__text">by Robbin joseph</p>
        </div>
      </div>

      <div class="booking-card__icon">
        <app-icon name="leaf" />
        <app-icon name="map" />
        <app-icon name="cursor" />
      </div>

      <div class="booking-card__details">
        <div class="booking-card__details-left">
          <img src="../assets/images/city.svg" alt="City" />
          <p class="booking-card__text">24 people going</p>
        </div>
        <app-icon name="like" />
      </div>
    </div>
  </div>
</section>
