@use 'mixins' as *;
@use 'variables' as *;

.booking {
  @include container(1200px);
  @include flex-center;
  flex-direction: row;
  gap: $space-30;
  margin-bottom: $space-48;

  &__steps {
    display: flex;
    flex-direction: column;
    gap: $space-12;
  }

  &__content {
    max-width: 512px;
  }
}

.booking-card {
  position: relative;
  &__container {
    @include card-shadow;
    width: 370px;
    height: 400px;
    background: $color-white;
    border-radius: $radius-xl;
    display: flex;
    flex-direction: column;
    padding: $space-5 $space-6;
    gap: $space-6;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: $space-3;
  }

  &__shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    gap: $space-5;
  }

  &__title {
    @include text-body(1.13rem, 500, $color-black);
    margin: 0;
  }

  &__text {
    @include text-body($fs-body, 500, $color-text-light);
    margin: 0;
  }

  &__information {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  &__details {
    @include flex-between;
    flex-direction: row;
  }

  &__details-left {
    @include flex-center;
    flex-direction: row;
    gap: 5px;
  }
}

.step {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'icon title'
    'icon text';
  column-gap: $space-5;
  &__title {
    grid-area: title;
    margin: 0;
    @include text-body($fs-body, 700, $color-text);
  }
  &__text {
    grid-area: text;
    margin: 0;
    @include text-body($fs-body, 400, $color-text);
  }

  &__icon {
    grid-area: icon;
    padding: $space-3;
    border-radius: 13px;
    width: 24px;
    height: 24px;
  }
}

.step__icon--cube {
  background: $color-secondary;
}

.step__icon--orange {
  background: $color-primary;
}

.step__icon--blue {
  background: $color-step-car;
}
