@use 'variables' as *;

@mixin container($max-width: $container-width) {
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: 16px;

  @media (min-width: 768px) {
    padding-inline: 24px;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ----- Базовый текст -----
@mixin text-body($size: $fs-body, $weight: 500, $color: $color-text) {
  font-family: $font-body;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: 1.6;
}

// ----- Заголовки -----
@mixin heading($size, $weight: 700, $color: $color-title) {
  font-family: $font-heading;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: capitalize;
  margin: 0;
}

@mixin section-subtitle {
  font-family: $font-body;
  font-size: 1.125rem; // 18px
  font-weight: 500;
  color: $color-text;
}

@mixin hero-title {
  @include heading($fs-hero, 700, $color-title);
  letter-spacing: -0.04em;
  line-height: 1.05;
}

// ----- Тени -----

@mixin card-shadow {
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0),
    0 8px 7px 0 rgba(0, 0, 0, 0.01),
    0 20px 13px 0 rgba(0, 0, 0, 0.01),
    0 39px 25px 0 rgba(0, 0, 0, 0.01),
    0 65px 47px 0 rgba(0, 0, 0, 0.02),
    0 100px 80px 0 rgba(0, 0, 0, 0.02);
}
