<section class="services container">
  <div class="section-header">
    <p class="section-header__subtitle">CATEGORY</p>
    <h2 class="section-header__title">We Offer Best Services</h2>
  </div>

  <div class="services__container">
    @for (item of services; track item.id) {
      <div class="service-card">
        <img [src]="item.src" [alt]="item.alt" />
        <p class="service-card__title">{{ item.title }}</p>
        <p class="service-card__text">{{ item.text }}</p>
      </div>
    }
  </div>
</section>
