@use 'mixins' as *;
@use 'variables' as *;

.services {
  @include container(1200px);
  display: flex;
  flex-direction: column;
  margin-bottom: 73px;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 73px;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 42px 45px 42px;

  &:hover {
    border-radius: 2.25rem;
    @include card-shadow;
  }

  &__text {
    margin: 0;
    @include text-body($fs-body, 500, $color-text);
  }

  &__title {
    margin: 0;
    font-family: $font-alt;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #1e1d4c;
  }
}
