@use 'mixins' as *;
@use 'variables' as *;

.services {
  @include container(1200px);
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  &__container {
    display: flex;
    flex-direction: row;
    gap: 72px;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  padding: 0 $space-10 $space-11;

  &:hover {
    border-radius: $radius-lg;
    @include card-shadow;
  }

  &__text {
    margin: 0;
    @include text-body($fs-body, 500, $color-text);
  }

  &__title {
    margin: 0;
    font-family: $font-alt;
    font-weight: 600;
    font-style: normal;
    font-size: $fs-h3;
    color: $color-title;
  }
}
