<section class="services container">
  <div class="section-header">
    <p class="section-header__subtitle">CATEGORY</p>
    <h2 class="section-header__title">We Offer Best Services</h2>
  </div>

  <div class="services__container">
    <div class="service-card">
      <img src="assets/images/weather.svg" alt="Calculated Weather" />
      <p class="service-card__title">Calculated Weather</p>
      <p class="service-card__text">Built Wicket longer admire do barton vanity itself do in it.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/flights.svg" alt="Best Flights" />
      <p class="service-card__title">Best Flights</p>
      <p class="service-card__text">Engrossed listening. Park gate sell they west hard for the.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/events.svg" alt="Local Events" />
      <p class="service-card__title">Local Events</p>
      <p class="service-card__text">
        Barton vanity itself do in it. Preferred to men it engrossed listening.
      </p>
    </div>
    <div class="service-card">
      <img src="assets/images/customization.svg" alt="Customization" />
      <p class="service-card__title">Customization</p>
      <p class="service-card__text">
        We deliver outsourced aviation services for military customers
      </p>
    </div>
  </div>
</section>
